.todo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.listItems {
	margin-top: 0.5rem;
	border: 1px solid grey;
	padding: 1rem;
	border-radius: 4px;
}
.todo li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 0.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}