.wrapper {
display: flex;
width: calc(50% - 1rem);
/* width: 30%; */
	/* flex-basis: auto; */
	flex-direction: column;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 20px black;
	padding: 1rem;
	/* height: 400px;
	overflow: auto; */
	flex-grow: 0;
}

.wrapper h2 {
	margin: 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(0,0,0,0.125);
	font-weight: 400;
	margin-bottom: 1rem;
}