.main {
  max-width: 1200px;
  margin: 0 auto;
  /* display: inline-flex; */
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  padding: 2rem;
  /* background-color: blue; */
}

.main button,
.main input, 
.main textarea {
  border: 1px solid grey;
  border-radius: 4px;
}
.main button {
  padding: 0.5rem 0.5rem;
}
.main button:hover {
  background-color: skyblue;
}
.main button:active {
  background-color: orange;
}
.main input {
  padding: 0.5rem 1rem;
  outline: 0px;
}